#keil
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*
*.uvguix.*
*.uvoptx
*.uvopt
*.axf
*.bin
*.hex
*.__i
*._ia
.mxproject
 
RTE/
Objects/
Listings/
JLinkLog.txt
 
#python
__pycache__/
*.pyc
 
#tool build outputs
tool/bin2c/build/
tool/bin2c/dist/
tool/build/
tool/dist/
tool/hex2bin-2.5/hex2bin-2.5/Debug/
tool/hex2bin-2.5/hex2bin-2.5/Release/
 
!*.uvprojx
!*.h
!*.c
!*.ioc