#keil
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*
*.uvguix.*
*.uvoptx
*.uvopt
*.axf
*.bin
*.hex
*.__i
*._ia
.mxproject
 
RTE/
Objects/
Listings/
JLinkLog.txt
 
#python
__pycache__/
*.pyc
 
#tool build outputs (PyInstaller 中间产物;dist 下的 exe 需跟踪)
tool/bin2c/build/
tool/ymodem_upload/build/
 
!*.uvprojx
!*.h
!*.c
!*.ioc